header{
  text-align: center;
  background-color: #005a42
}

body{
  font-family: sans-serif;
  background-color: #005a42
}
h1{
  color: Black;
  font-family: cursive;

}
div {
  background-color: #b8d02c
  font-family:serif;
}
