header{
  text-align: center;
  background-color: #4b4068
}
footer{
  text-align:center;
  background-color: #4b4068
}
body{
  font-family: sans-serif;
  background-color: #564977
}
h1{
  color: black;
  font-family:fantasy;
}
h2{
  color: black;
  font-family:fantasy;
}
h3{
  color: black;
  font-family:fantasy;
}
p{
  font-size: 10px
}
