header{
  text-align: center;
  background-color: #005a42
}
footer{
  text-align:center;
  background-color: #005a42
}
body{
  font-family: sans-serif;
  background-color: #004331
}
h1{
  color: black;
  font-family: cursive;
}
h2{
  color: black;
  font-family: cursive;
}
h3{
  color: black;
  font-family: cursive;
}
p{
  font-size: 10px
}
