header{
  text-align: center;
  background-color: #b8d02c
}
footer{
  text-align:center;
  background-color: #b8d02c
}
body{
  font-size: Tahoma
  background-color: #8fa222
}
h1{
  color: white;
}
h2{
  color: White;
}
h3{
  color: White;
}
